body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-image: url(pictures/b.png); 
    background-size: cover;
}

.form {
    background-color: rgba(255, 255, 255, 0.9); /* רקע בהיר עם שקיפות */
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px;
    text-align: center;
    height: 50%;
    margin-top: 10%;
}

h2 {
    color: #d5006d; 
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #d5006d; 
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4081; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c60055; 
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.toggle-button {
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.toggle-button:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}