body {
    background-image: url(pictures/gamePage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: pink;
    height: 100%;

}
#modes{
    margin-top: 0px;
    display: inline;
}
#cups{

    display: inline;
    margin-left: 70%;
    margin-bottom: 100%;
    height: 20%;
 }
 .cupImg{
     width: 3%;
     height: 1%;
     display: inline;
 }
 p{
    display: inline;
    height: 100%;
    width: 10%;
    color:rgb(236, 58, 156);
    font-weight: bold;
    font-size: 30px;
    font-family: "Amatic SC";
 }
#containerCategory {
    margin-left:30%;
    text-align: center;
    background-color: rgb(228, 208, 211);
    opacity: 0.9;
    border-radius: 5%;
    width:30%;
    height: 40%;
   
}

.divImg {
    direction: ltr;
    background-color: pink;
    border-radius: 5%;
    margin: 5%;
    width: 7%;
    height: 7%;
    text-align: center;
    display: flex;
   
}
.img {
 margin-right: 35%;
    width: 90%;
    height: 80%;
    margin-top: 19%;
}
button{
      display: inline;
    text-align: center;
    border-radius: 25px;
    font-size: larger;
    background-color: bisque;
    border-radius: 15px;
    height: 100%;
    width: 10%;
    color:rgb(236, 58, 156);
    font-weight: bold;
    font-size: 30px;
    font-family: "Amatic SC";
    margin-top: 0px;
}
#gamePoints{
 display:inline;
}
#iceCreamProces{
    display: inline;
    width: 50%;
    height: 50%;
    margin-left: 3%;
    font-size: 30px;
    font-family: "Amatic SC";
    font-weight: bold;
    margin-top: 0px;
}
h3{
    display: inline;
    margin-left: 4%;
    font-size: 30px;
    font-family: "Amatic SC";
  margin-top: 0px;
   
}
#thepepole{
    height: 40%;
    width: 100%;
}
#yourIceCream{
color: crimson;
display: inline;
/* margin-right: 5%; */
margin-left: 20%;
height: 10%;
font-family: "Amatic SC";
font-size:150%;
font-weight: bold;
text-align: left;
background-color: bisque;
opacity: 0.9;
}
.dragImg{
    height: 30px;
    display: inline;
}
#timerDisplay {
    font-size: 2em;
    margin-top: 0px;
    display: inline;
    font-family:"Amatic SC";
    margin-left: 15px;
    font-weight: bold;
    width: 10%;
}
#blinkingText {
    font-size: 24px;
    color: red;
    font-family: "Amatic SC";
margin-left: 0.5%;
font-weight: bolder;}
@media(max-width:850px) {
   
    #cups{
    display:none;
}
#thepepole{
    height: 100%;
    width: 100%;
}
#containerCategory {
    width: 100%;
    margin-left:0px;
}
#timerDisplay {
   display: block;
}
}
@media(max-width:747px) {
    #modes,p,button{
        display: block;
        width: 80%;
       
    }
    #containerCategory {
        
        text-align: center;
        background-color: rgb(228, 208, 211);
        opacity: 0.9;
        border-radius: 5%;
        height: 40%;
        width: 100%;
       
    }
    

}

